
<div ng-controller="CtrlImage" id="example-form" action="#">
    <h2>Image is here:</h2>
    <ul>

        <li ng-repeat="upload in ::image">
            <a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a></br>
            <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}'/>
            <a href="#/uploads/imageanno/{{upload.file.filename}}/{{upload.file.originalname}}">Annotations of this image</a></br>            
            <a href="#/uploads/imageinfo/{{upload.file.filename}}/{{upload.file.originalname}}">Info to this image</a></br>

        </li>

    </ul>
</div>