<body ng-app="fileUpload">
    <div ng-controller="CtrlUpload" id="example-form" action="#">

        <div class="bricklayer" ng-cloak>
            <!-- append -->
            <div bricklayer-append ng-repeat="upload in all" ng-cloak>
                <a href="#/uploads/imageinfo/{{upload.file.filename}}/{{upload.file.originalname}}"><img ng-src='{{upload.file.path + "/" + upload.file.originalname}}' ng-href='#/uploads/image/{{upload.file.filename}}/{{upload.file.originalname}}'/>
                    </a></br>
            </div>




        </div>
</body>

</html>