<div ng-controller="CollapseDemoCtrl">
    <!-- <p>Resize window to less than 768 pixels to display mobile menu toggle button.</p> -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button> -->
            <a class="navbar-brand" href="#">ICONLAB</a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav">
                <!-- <li><a href="#/viewAll">View All</a></li> -->
                <!-- <li><a href="#/viewSessions">View Sessions by</a></li> -->
                <li><a href="#/UploadForm">Contribute</a></li>
                <li><a href="#/about">About</a></li>

                <li uib-dropdown>
                    <a href="#" uib-dropdown-toggle>Database<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/viewSessions">By Sessions</a></li>
                        <li><a href="#/topics">By Topics</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>
</div>



<div ng-controller="ButtonsCtrl">
    <!-- <h4>Radio &amp; Uncheckable Radio</h4> -->
    <!-- <pre>{{radioModel || 'null'}}</pre> -->
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'by sessions'">by sessions</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'by topics'">by topics</label>
    </div>

</div>



<div ng-controller="formCtrlSessions" id="example-form" action="#">
    <h2>All session partners are here:</h2>
    <ul>
        <li ng-repeat="upload in sessions">

            <!--<a ng-href="uploads/{{upload.names}}"> {{upload}} <a> </br>-->
            <a href="#/uploads/{{upload}}">{{upload}}</a></br>

        </li>
    </ul>
</div>