


<!-- <div ng-controller="ButtonsCtrl">
    <h4>Radio &amp; Uncheckable Radio</h4>
    <pre>{{radioModel || 'null'}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'by sessions'">by sessions</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'by topics'">by topics</label>
    </div>

</div> -->



<div ng-controller="formCtrlSessions" id="example-form" action="#">
    <h2>All session partners are here:</h2>
    <ul>
        <li ng-repeat="upload in sessions">

            <!--<a ng-href="uploads/{{upload.names}}"> {{upload}} <a> </br>-->
            <a href="#/uploads/{{upload}}">{{upload}}</a></br>

        </li>
    </ul>
</div>