@font-face {
  font-family: AkkuratStd-Bold;
  font-weight: bold;
  src: local('AkkuratStd-Bold'), url('fonts/AkkuratStd-Regular.otf'), format('opentype');
}
@font-face {
  font-family: AkkuratStd-Reg;
  font-weight: normal;
  src: local('AkkuratStd-Reg'), url('fonts/AkkuratStd-Regular.otf'), format('opentype');
}

@font-face {
  font-family: AkkuratStd-It;
  font-weight: normal;
  src: local('AkkuratStd-It'), url('fonts/AkkuratStd-Italic.otf'), format('opentype');
}

.container{
  width: 80%;
  height: 80%;
  position: absolute;    
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* background-color: #aaa; */
}

img {
  display: block;
  max-width:100%;
  max-height:100%;

}

label{
  font-family: "AkkuratStd-Reg";
}

h2 {
  font-family: "AkkuratStd-Bold"
}

/* body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}  */

@media (min-width: 768px){
   #left {
    /* position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 66%; */
    overflow-y: scroll; 
  } 
  
  #right {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 50%;
  }
}

#left {
  /* background-color: #FC6E51; */
  /* text-align: center; */
  /* height:100%; */
}

#right {
  /* height:100%;
  background-color: #4FC1E9;
  text-align: center; */
} 